<div class="modal fade" id="helpModalPagines" tabindex="-1" aria-labelledby="helpModalPaginesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalPaginesLabel">Ajuda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Número de pàgines:</strong> Indica el nombre de pàgines que vols incloure al pressupost.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
        </div>
      </div>
    </div>


    <div class="modal fade" id="helpModalIdiomes" tabindex="-1" aria-labelledby="helpModalIdiomesLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalIdiomesLabel">Ajuda</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><strong>Número d'idiomes:</strong> Indica el nombre d'idiomes que desitges per a la teva web.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
          </div>
        </div>
      </div>
    </div>
