input{
    max-width: 80px ;
    border-radius: 40%;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    border-color: rgb(196, 196, 196);
}
.btn-info{
    background-color: transparent;
    border-color: white;
 }