<div class="container-fluid">
<form class="formulario d-flex" (ngSubmit)="calcularPresupuestoPaginas()" [formGroup]="formularioReactivo1">
        <div class="row justify-content-end">
            <div id="" class="col-12 d-flex justify-content-end m-1">
                <button type="submit" class=" btn btn-info" data-bs-toggle="modal" data-bs-target="#helpModalPagines">
                    <i class="bi bi-info-circle me-2"></i>
                </button>
                <label class="form-label">Número de páginas</label>
            </div>
            <div class="col-8 d-flex justify-content-end me-4">
                <button id="botones" class="btn btn-primary" (click)="beforeStep('numPagina')"
                    [disabled]="formularioReactivo1.get('numPagina')?.value === 0" type="button"> - </button>
                <input type="text" formControlName="numPagina" required>
                <button id="botones" class="btn btn-primary" (click)="nextStep('numPagina')" [disabled]=""
                    type="button">+
                </button>
            </div>


            <div  id="" class="col-12 d-flex justify-content-end m-1">
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#helpModalIdiomes">
                    <i class="bi bi-info-circle"></i>
                </button>
                <label class="form-label">Número de Idiomas</label>
            </div>
            <div class="col-12 d-flex justify-content-end me-4">
                <button id="botones" class="btn btn-primary" type="submit" (click)="beforeStep('numIdioma')"
                    [disabled]="formularioReactivo1.get('numIdioma')?.value === 0"> - </button>
                <input type="text" formControlName="numIdioma" class="ms-1"required>
                <button id="botones" class="btn btn-primary" type="submit" (click)="nextStep('numIdioma')"
                    [disabled]="">+
                </button>
            </div>
        </div>
                
                
                
             

</form>
</div>

<div class="text-end m-5">
    <h3>{{totalCosteWeb}}€</h3>
</div>

<app-modal></app-modal>