<div class="modal fade" id="helpModalIdiomes" tabindex="-1" aria-labelledby="helpModalIdiomesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h2>Número de Idiomas</h2>
                <p>Indica cuantas páginas quieres en tu presupuesto. El coste de cada idioma es de <strong>30€</strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="helpModalPagines" tabindex="-1" aria-labelledby="helpModalPaginesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h2>Número de páginas</h2>
                <p>Indica cuantas páginas quieres en tu presupuesto. El coste de cada página es de <strong>30€</strong>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
</div>