<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="col">
        <div class="col">
          <img src="assets/usuarios-alt.svg" class="img-fluid float-start" alt="">
        </div>
        <div class="col">
          | <a class="navbar-brand" href="#"> Frontender.itacademy </a>
        </div>
      </div>
    </div>
  </nav>

  <div id="encabezado" class="container-fluid text-center">
    <div class="row justify-content-center">
      <img src="assets/vecteezy_business-accounting-concept-businessman-uses-calculator-with_50267889.jpg"
        class="img-fluid" alt="">
      <h1 class="text-center ">{{title}}</h1>
    </div>
  </div>
</div>


<form [formGroup]="formularioEjemplo" action="">
  <!--SEO-->
  <div class="card">
    <div class=" row card-body">
      <div class="col-6">
        <h2> <strong>SEO</strong></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div id="price" class="col-3">
        <p> 300 €</p>
      </div>
      <div class="col-3">
        <label for="opcion1">
          <input type="checkbox" formControlName="seo" id="opcion1">
          Afegir
        </label>
      </div>
    </div>
  </div>

  <!--Ads-->
  <div class="card">
    <div class="row card-body">
      <div class="col-6">
        <h2><strong>ADS</strong></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div id="price" class="col-3">
        <p> 400 €</p>
      </div>
      <div class="col-3">
        <label for="opcion2">
          <input type="checkbox" formControlName="ads" id="opcion2">
          Afegir
        </label>
      </div>
    </div>
  </div>

  <!--Web-->

  <div class="card">
    <div class="row card-body">
      <div class="col-6">
        <h2><strong>WEB</strong></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div id="price" class="col-3">
        <p> 500 €</p>
      </div>
      <div class="col text-aling-right aling-item-">
        <label for="opcion3">
          <input type="checkbox" formControlName="web" id="opcion3">
          Afegir
        </label>
      </div>
      <div class="col-12 float-start">
        @if (formularioEjemplo.get('web')?.value) {
        <app-panel (mensajeEmitido)="actualizarCosteWeb($event)"
        (mensajePaginasIdiomas)="actualizarNumPaginasIdiomas($event)"></app-panel>

        }
      </div>

    </div>
  </div>
  <h1 id="totalPresupuesto" class="bolder aling-item-right text-aling-right ">Total presupuesto: {{totalCoste}} €</h1>
</form>

<div class="container-fluid">
    <form  [formGroup]="formularioEjemplo" action="">
      <div class="card p-3">
          <h2> <strong>Pedir presupuesto</strong></h2>
        <div class=" row card-body">
          <div id="name" class=" col-12 col-md-3">
            <input placeholder="Nombre" class="form-control w-100" formControlName="nombre" type="text">
          </div>
          <div id="telefono" class=" col-12 col-md-3 mb-2">
            <input class="form-control w-100" formControlName="telefono" placeholder="Teléfono">
          </div>
          <div id="email" class="col-12 col-md-3 mb-2">
            <input class="form-control w-100" formControlName="email" placeholder="Email" type="email">
          </div>
          <div id="email" class="col-md-3">
            <button class="btn btn-primary w-100" (click)="agregarPresupuesto()" type="submit"> Solicitar presupuesto </button>
          </div>
        </div>
      </div>
    </form>

    <app-budgets-list></app-budgets-list>
  </div>

  
