<div class="header">
  <nav class="navbar custom-navbar">
    <div class="container-fluid">
      <div class="col">
        <div class="col m-3">
          <img src="assets/usuarios-alt.svg" class="img-fluid float-start" alt="">
        </div>
        <div class="m-3">
          <a class="" href="#"> Front-End IT Academy </a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div id="encabezado" class="container-fluid text-center">
  <div class="row justify-content-center">
    <img src="assets/vecteezy_business-accounting-concept-businessman-uses-calculator-with_50267889.jpg"
      class="img-fluid" alt="">
    <h1 class="text-center ">{{title}}</h1>
  </div>
</div>


<form [formGroup]="formularioEjemplo" action="">
  <!--SEO-->
  <div class="card">
    <div class=" row card-body aling-item-center">
      <div class="col-12 col-md-6">
        <h2> <strong>SEO</strong></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div id="price" class="col-6 col-md-4 text-md-center">
        <p> 300 €</p>
      </div>
      <div class="col-6 col-md-2 text-md-start">
        <label for="opcion1">
          <input type="checkbox" formControlName="seo" id="opcion1">
          Afegir
        </label>
      </div>
    </div>
  </div>

  <!--Ads-->
  <div class="card">
    <div class="row card-body">
      <div class="col-12 col-md-6">
        <h2><strong>ADS</strong></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div id="price" class="col-6 col-md-4 text-md-center">
        <p> 400 €</p>
      </div>
      <div class="col-6 col-md-2 text-md-start">
        <label class="form-checkbox-label" for="opcion2">
          <input class="form-checkbox-input" type="checkbox" formControlName="ads" id="opcion2">
          Afegir
          @if(formularioEjemplo.controls['seo'].hasError('required')){
            <small class="text-danger">Este campo es obligatorio</small>
          }
        </label>
      </div>
    </div>
  </div>

  <!--Web-->

  <div class="card">
    <div class="row card-body">
      <div class="col-12 col-md-6">
        <h2><strong>WEB</strong></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div id="price" class="col-6 col-md-4 text-md-center">
        <p> 500 €</p>
      </div>
      <div class="col-6 col-md-2 text-md-start">
        <label for="opcion3">
          <input type="checkbox" formControlName="web" id="opcion3">
          Afegir
        </label>
      </div>
      
          @if (formularioEjemplo.get('web')?.value) {
          <div class="col-md-12 d-flex justify-content-end">
            <app-panel (mensajeEmitido)="actualizarCosteWeb($event)"
              (mensajePaginasIdiomas)="actualizarNumPaginasIdiomas($event)"></app-panel>
          </div>
          }
    </div>
   
  </div>  
  @if(mostrarErrorcheckbox){
    <div class="text-danger text-center">
      <small>Debes seleccionar al menos un servicio.</small>
    </div>
  }
  <div class="mt-3">
    <h1 id="totalPresupuesto" class="bolder aling-item-right text-aling-right ">Total presupuesto: {{totalCoste}} €</h1>
  </div>
  
</form>




<div class="container-fluid">
  <form [formGroup]="formularioEjemplo" action="">
    <div class="card p-3">
      <h2> <strong>Pedir presupuesto</strong></h2>
      <div class=" row card-body">
        <div id="name" class=" col-12 col-md-3">
          <input placeholder="Nombre" class="form-control w-100" formControlName="nombre" id="validationCustom03" type="text"
          [ngClass]="{'is-invalid': formularioEjemplo.controls['nombre'].hasError('required') && (formularioEjemplo.get('nombre')?.touched || formularioEjemplo.get('nombre')?.dirty)}">
          @if(formularioEjemplo.controls['nombre'].hasError('required') && (formularioEjemplo.get('nombre')?.touched || formularioEjemplo.get('nombre')?.dirty)){
            <div class="text-danger">
              <small class="text-danger">El campo nombre es obligatorio</small>
            </div>    
          }
        </div>
        <div id="telefono" class=" col-12 col-md-3 mb-2">
          <input class="form-control w-100" formControlName="telefono" placeholder="Teléfono"
          [ngClass]="{'is-invalid': formularioEjemplo.controls['telefono'].hasError('required') && (formularioEjemplo.get('telefono')?.touched || formularioEjemplo.get('telefono')?.dirty)}">
          @if(formularioEjemplo.controls['telefono'].hasError('required')&& (formularioEjemplo.get('telefono')?.touched || formularioEjemplo.get('telefono')?.dirty)){
              <small class="text-danger">El campo telefono es obligatorio</small>
          }
        </div>
        <div id="email" class="col-12 col-md-3 mb-2">
          <input class="form-control w-100" formControlName="email" placeholder="Email" type="email"
          [ngClass]="{'is-invalid': formularioEjemplo.controls['email'].hasError('required') && (formularioEjemplo.get('email')?.touched || formularioEjemplo.get('email')?.dirty)}">
          @if(formularioEjemplo.controls['email'].hasError('required')&& (formularioEjemplo.get('email')?.touched || formularioEjemplo.get('email')?.dirty)){
              <small class="text-danger">El campo email es obligatorio</small>
          }
          @if(formularioEjemplo.controls['email'].hasError('email')){
            <small class="text-danger">El campo email debe ser un email válido</small>
          }
        </div>
        <div id="email" class="col-md-3">
          <button class="btn btn-primary w-100" (click)="agregarPresupuesto()" type="submit"> Solicitar presupuesto
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<app-budgets-list></app-budgets-list>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Copyright 2024</p>
      </div>
    </div>
  </div>
</footer>