img{
    width: 30px;
}

#encabezado {
    margin: 40px auto;
    padding: 10px;
    width: 100%;
    justify-content: center;
    position: relative;
    background-size: cover;
}

#encabezado img{
    width: 80%;
    height: 300px;
    opacity: 0.5;
    position: relative;
    border-radius: 50px;
    margin: 10px auto;

}

#encabezado h1{
    font-size: 80px;
    position: absolute;
    margin: 100px auto;
    width: 100%;
    display: flex;
    text-shadow: 3px 3px 3px rgba(59, 59, 59, 0.6);
    justify-content:center
    
}

.card-body {
    font-size: 20px;
}

#price{
    font-weight: bold;
    font-size: 40px;
}

.card{
    margin: 100px auto;
    width: 60%;
    justify-content: center;
    box-shadow:  4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#totalPresupuesto{
    font-size: 60px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 500px;
    font-weight: bold;
}